<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questionnaire.name %>
</p>

<p>
  <strong>Age bracket:</strong>
  <%= @questionnaire.age_bracket %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @questionnaire.gender %>
</p>

<p>
  <strong>Fav veg:</strong>
  <%= @questionnaire.fav_veg %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
